@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MVC_cours_isitech.Controllers
@using MVC_cours_isitech.Models
@model IEnumerable<Teacher>



<h1>Liste des enseignants</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Specialité</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var teacher in Model)
    {
        <tr>
            <form asp-controller="Teacher" asp-action="Edit" method="post">
                <td><h2>@teacher.Id</h2><input type="hidden" asp-for="@teacher.Id" key></td>
                <td><input value="@teacher.Firstname" class="input-group-text" asp-for="@teacher.Firstname"></td>
                <td><input value="@teacher.Lastname" class="input-group-text" asp-for="@teacher.Lastname"></td>
                <td>
                    <input type="submit" value="Modifier" class="btn btn-info">
                </td>
            </form>
            <form asp-controller="Teacher" method="post" asp-action="Delete">
                <input type="text" class="visually-hidden" name="id" value="@teacher.Id" asp-for="@teacher.Id">
                <td><input type="submit" value="Supprimer" class="btn btn-danger"></td>
            </form>
        </tr>
    }
    </tbody>
    <br>
    <form asp-controller="Teacher" method="get" asp-action="Add">
        <input type="submit" class="btn btn-primary" value="Créer un utilisateur">
    </form>
    <br>
</table>