@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Teacher>



<h1>Liste des enseignants</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Specialité</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var teacher in Model)
    {
        <tr>
            <form asp-controller="Teacher" asp-action="Edit">
                <td>@teacher.Id</td>
                <td><input type="text" name="firstname" value="@teacher.Firstname" class="input-group-text"></td>
                <td><input type="text" name="lastname" value="@teacher.Lastname" class="input-group-text"></td>
                <td><input type="number" name="age" value="@teacher.Age" class="input-group-text"></td>
                <td>
                    <select name="speciality" class="input-group input-group-text">
                        <option value="@Specialities.IT" id="@Specialities.IT-@teacher.Id">IT</option>
                        <option value="@Specialities.CS" id="@Specialities.CS-@teacher.Id">CS</option>
                        <option value="@Specialities.Other" id="@Specialities.Other-@teacher.Id">Other</option>
                    </select>
                    <script>document.getElementById("@teacher.Speciality-@teacher.Id").selected = "true"</script>
                </td>
                <td>
                    <input type="number" name="id" class="visually-hidden" value="@teacher.Id">
                    <input type="submit" value="Modifier" class="btn btn-info">
                </td>
            </form>
            <form asp-controller="Teacher" asp-action="Delete">
                <input type="number" class="visually-hidden" name="id" value="@teacher.Id">
                <td><input type="submit" value="Supprimer" class="btn btn-danger"></td>
            </form>
        </tr>
    }
    <tr>
        <td></td>
        <form asp-controller="Teacher" asp-action="Add">
            <td><input type="text" name="firstname" class="input-group-text"></td>
            <td><input type="text" name="lastname" class="input-group-text"></td>
            <td><input type="number" name="age" class="input-group-text"></td>
            <td>
                <select name="speciality" class="input-group input-group-text">
                    <option value="" selected disabled hidden>Selectionner une specialitée</option>
                    <option value="@Specialities.IT">IT</option>
                    <option value="@Specialities.CS">CS</option>
                    <option value="@Specialities.Other">Other</option>
                </select>
            </td>
            <td><input type="submit" value="Créer" class="btn btn-success"></td>
            <td></td>
        </form>
    </tr>
    </tbody>
</table>